* {
	margin: 0;
}

@media screen and (max-width: 600px) {
	.meanings img {
		width: 120px;
	}
	.meanings h3 {
		font-size: 20px !important;
	}
	.meanings h1 {
		font-size: 60px !important;
	}
	.meaningshead {
		font-size: 80px !important;
	}
	.features h2 {
		font-size: 20px;
	}

}
/***********NAVIGATION****************************/

.nav {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 30vh;
	padding: 0;
}

.logotype {
	max-width: 200px;
	padding-top: 2em;
	padding-left: 2em;
	align-self: center;
}


/***********HERO IMAGE****************************/
.feature {
	background-image: url(../img/notebook.jpg);
	height: 75vh;
	text-align: center;
/*	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
*/}
	.feature h1 {
		text-align: center;
		padding-top: 4.5em;
		justify-self: center;
		font-family: 'Karla', sans-serif;
		font-size: 40px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
		color: #2c2c2c;
		letter-spacing: 10px;
	}
	.feature h2 {
		text-align: center;
		font-size: 100px;
		font-family: 'Reenie Beanie', cursive;
		text-decoration: underline;
		color: #2c2d2c;
	}

/***********ABOUT US****************************/
.aboutus {
	text-align: center;
	background-color: #8d63aa;
	padding: 3em;
}
.aboutus h1 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 82px;
	margin: 0;
}
.aboutus p {
	font-family: 'Karla', sans-serif;
	font-size: 24px;

}
/***********DIVIDER BARS****************************/

.divider {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7,auto) 1fr;
}
	.one{
		grid-row: 1;
		height: 3em;
		background-color: #91be13;
	}

	.two {
		grid-row: 2;
		height: 3em;	
		background-color: #ffb832;
	}
	.three {
		grid-row: 3;
		height: 3em;
		background-color: #f17898;
	}
	.four {
		grid-row: 4;
		height: 3em;
		background-color: #0081a3;
	}
	.five {
		grid-row: 5;
		height: 3em;
		background-color: #ac0002;
	}
	.six {
		grid-row: 6;
		height: 3em;
		background-color: #8d63aa;
	}
	.seven {
		grid-row: 7;
		height: 3em;
		background-color: #000000;
	}
	.eight {
		background-image: url(../img/writing.gif) ;
		background-size: contain cover;
		background-position: right;
		padding: 15em;
		background-repeat: no-repeat;

	}

/***********TAGLINE****************************/

.tagline {
	background-color:#888888;
	padding: 15em;
}
	.tagline h1 {
		font-size: 50px;
		text-align: right;
	}

/***********FEATURES****************************/

.features {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	height: 75vh;
	font-family: 'Reenie Beanie', cursive;
	font-size: 30px; }
	
	.grip {
		grid-column: 1;
		background-color: #070d5a;
		color: #ffffff;
		text-align: center;
	}
		.grip h2 {
			margin-top: 4em;
		}
			.grip:hover {
			transform: scale(101%);
			transition: 0.4s;
			transition-timing-function: ease;
		}
		.gripnew {
			grid-column: 1 / span 5;
			width: 100%;
			text-align: left;
		}
		.gripnew h2 {
			padding: 2em;
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 15px;
			margin: 0;
		}
		.gripnew p {
			padding-top: 3em;
			font-size: 24px;
			font-family: 'Karla', sans-serif;
			font-weight: 300;
		}

	.ink {
		background-color: #393d7b;
		grid-column: 2;
		text-align: center;
	}
		.ink:hover {
			transform: scale(101%);
			transition: 0.4s;
			transition-timing-function: ease;
		}
		.ink h2 {
			margin-top: 4em;
			color: white;
		}
		.x {
			opacity: 0%;
			margin: 0;
		}
			.xshow {
				opacity: 100%;
				display: grid;
				grid-template-columns: auto;
				grid-column: 2;
				position: absolute;
				top: 1rem;
				right: 4rem;
				color: white;
				padding: 4em;
			}
			.xshow i {
				text-align: right;
			}
			.xshow h2 {
				padding-left: 0;
			}
		.display {
			display: none;
		}
		.inknew {
			grid-column: 1 / span 5;
			width: 100%;
			text-align: left;
		}
		.inknew p {
			padding-top: 3em;
			font-size: 24px;
			font-family: 'Karla', sans-serif;
			font-weight: 300;
			color: white;
		}
		.inknew h2 {
			padding: 2em;
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 15px;
			margin: 0;
		}


	.recycle {
		background-color: #6a6e9c;
		grid-column: 3;
		text-align: center;
		color: white;
	}
		.recycle h2{
			margin-top: 4em;
			}
		.recyclenew {
			grid-column: 1 / span 5;
			width: 100%;
			text-align: left;
		}
		.recycle:hover {
			transform: scale(101%);
			transition: 0.4s;
			transition-timing-function: ease;
		}
		.recyclenew h2 {
			padding: 2em;
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 15px;
			margin: 0;
		}
		.recyclenew p {
			padding-top: 3em;
			font-size: 24px;
			font-family: 'Karla', sans-serif;
			font-weight: 300;
		}

	.blend {
		background-color: #9c9ebd;
		grid-column: 4;
		color: white;
		text-align: center;
	}
		.blend h2{
			margin-top: 4em;
			}
		.blendnew {
			grid-column: 1 / span 5;
			width: 100%;
			text-align: left;
		}
		.blend:hover {
			transform: scale(101%);
			transition: 0.4s;
			transition-timing-function: ease;
		}
		.blendnew h2 {
			padding: 2em;
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 15px;
			margin: 0;
		}
		.blendnew p {
			padding-top: 3em;
			font-size: 24px;
			font-family: 'Karla', sans-serif;
			font-weight: 300;
		}

	.glide {
		text-align: center;
		background-color: #cdcfde;
		grid-column: 5;
		text-align: center;
		color: white;
	}
		.glide h2 {
			margin-top: 4em;
		}
		.glidenew {
			grid-column: 1 / span 5;
			width: 100%;
			text-align: left;
		}
		.glide:hover {
			transform: scale(101%);
			transition: 0.4s;
			transition-timing-function: ease;
		}
		.glidenew h2 {
			padding: 2em;
			font-size: 60px;
			text-transform: uppercase;
			letter-spacing: 15px;
			margin: 0;
		}
		.glidenew p {
			padding-top: 3em;
			font-size: 24px;
			font-family: 'Karla', sans-serif;
			font-weight: 300;
		}


/***********MEANINGS****************************/

	.meaningshead {
		text-align: center;
		font-family: 'Reenie Beanie', cursive;
		text-transform: uppercase;
		font-size: 150px;
	}

.meanings {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 4em;
}
	.meanings img {
		max-width: 400px;
		padding-top: 2em;
		}
	.meanings h1 {
		font-family: 'Reenie Beanie', cursive;
		font-size: 100px;
		margin: 0;
	}
	.meanings h3 {
		font-family: 'Karla', sans-serif;
		font-size: 32px;
		margin: 0;
	}
	.green {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 1;
		height: 20vh;
	}
		
		.green img {
			grid-column: 1;
			z-index: 1;
		}
		.green img:hover {
			transform: rotate(-15deg);
			transition: 0.3s;
		}
		.green h1 {
			grid-column: 2;
			color: #91be13 ;
			grid-row: 1;
			text-align: left;
		}
		.green h3 {
			grid-column: 3;
			grid-row: 1;
			align-self: center ;
			display: hide;
		}

	.pink {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 2;
		height: 20vh;
/*		border-top: 4px #f17898 solid;*/
	}
		.pink img {
			grid-column: 3;
			grid-row: 1;
			transform: scaleX(-1);
			justify-self: end;
		}
		.pink img:hover {
			transform:  scaleX(-1) rotate(-15deg);
			transition: 0.3s;
		}
		.pink h1 {
			grid-column: 1;
			grid-row: 1;
			text-align: end;
			margin: 0;
			color: #f17898 ;
		}
		.pink h3 {
			grid-column: 2;
			grid-row: 1;
			text-align: end;
			align-self: center;
		}

	
	.light-blue {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 3;
	}
		.light-blue img {
			grid-column: 1;
			grid-row: 1;
		}
		.light-blue img:hover {
			transform: rotate(-15deg);
			transition: 0.3s;
		}
		.light-blue h1 {
			grid-column: 2;
			grid-row: 1;
			color: #0081a3;
			text-align: left;
		}

		.light-blue h3 {
			grid-column: 3;
			grid-row: 1;
			align-self: center;
		}

	.dark-blue {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 4;
		height: 20vh;
	}
		.dark-blue img {
			grid-column: 3;
			transform: scaleX(-1);
			grid-row: 1;
			justify-self: end;
		}
		.dark-blue img:hover {
			transform:  scaleX(-1) rotate(-15deg);
			transition: 0.3s;
		}
		.dark-blue h1 {
			grid-column: 1;
			grid-row: 1;
			text-align: end;
			margin: 0;
			color: #070d5a;
		}
		.dark-blue h3 {
			grid-column: 2;
			grid-row: 1;
			text-align: end;
			align-self: center;
		}


	.orange {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 5;
	}
		.orange img {
			grid-column: 1;
			grid-row: 1;
		}
		.orange img:hover {
			transform: rotate(-15deg);
			transition: 0.3s;
		}
		.orange h1 {
			grid-column: 2;
			grid-row: 1;
			color: #ffb832;
		}
		.orange h3 {
			grid-column: 3;
			grid-row: 1;
			text-align: left;
			align-self: center;
		}

		
	.purple {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 6;
	}
		.purple img {
			grid-column: 3;
			transform: scaleX(-1);
			grid-row: 1;
			justify-self: end;
		}
		.purple img:hover {
			transform:  scaleX(-1) rotate(-15deg);
			transition: 0.3s;
		}
		.purple h1 {
			grid-column: 1;
			grid-row: 1;
			color:  #8d63aa;
			text-align: right; 
		}
		.purple h3 {
			grid-column: 2;
			grid-row: 1;
			align-self: center;
			text-align: center;
		}

		
	.black {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 7;
	}
		.black img {
			grid-column: 1;
			grid-row: 1;
		}
		.black img:hover {
		transform: rotate(-15deg);
		transition: 0.3s;
		}
		.black h1 {
			grid-column: 2;
			grid-row: 1;
		}
		.black h3 {
			grid-column: 3;
			grid-row: 1;
			align-self: center;
		}

		
	.red {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column: 1;
		grid-row: 8;
	}
		.red img {
			grid-column: 3;
			grid-row: 1;
			justify-self: end;
		}
		.red img:hover {
			transform:  /*scaleX(-1)*/ rotate(15deg);
			transition: 0.3s;
		}
		.red h1 {
			grid-column: 1;
			grid-row: 1;
			color: #ac0002;
			text-align: right;
		}
		.red h3 {
			grid-column: 2;
			grid-row: 1;
			text-align: center;
			align-self: center;
		}

		

/***********OUR STORY****************************/
.story {
	display: grid;
	grid-temmplate-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-top: 16em;
	background-color: #2c2c2c;
}
.story svg {
	height: 400px;
	grid-column: 1;
	grid-row: 1 / span 2;
	max-width: 230%;
}
.line1, .line2, .line3, .line4
{
	stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.story h1 {
	grid-column: 2;
	grid-row: 1;
	font-family: 'Reenie Beanie', cursive;
	text-align: left;
	color: #91be13;
	font-size: 80px;
	padding-left: 1em
}

.story p {
	grid-column: 2;
	grid-row: 2;
	font-family: 'Karla', sans-serif;
	padding-top: 1em;
	padding-left: 4em;
	padding-right: 5em;
	margin-top: 1em;
	font-size: 16px;
	color: white;
}
/***********STORES****************************/

.stores {
	background-color: #070d5a;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	padding: 2em;
}
.stores img {
	align-self: center;
	justify-self: center;
}
.stores h1 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 64px;
	color: white;
	align-self: center;
	justify-self: center;
}
	.stores h1:hover {
		color: #cc0000;
	}
	.target {
		grid-column: 2;
		max-width: 200px;
	}
		.target:hover {
			transform: scale(1.3) rotate(15deg);
			transition: .1s;
		}
	.od {
		grid-column: 4;
		max-width: 200px;
	}
		.od:hover {
			transform: scale(1.3) rotate(15deg);
			transition: .1s;
		}
	.staples {
		grid-column: 3;
		max-width: 300px;
	}
		.staples:hover {
			transform: scale(1.3) rotate(-15deg);
			transition: .1s;
		}
/***********FAQ****************************/
.faq {
	align-items: center;
	background-color: #f17898;
}

.faq h1 {
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	text-transform: uppercase;
	font-size: 100px;
	margin: 0;
}
.faq ul {
  margin: 0;
  padding: 2em;
  list-style: none;
}

.faq h2 {
	color: #f17898;
	font-family: 'Karla', sans-serif;
}

.faq ul h2 {
  padding-top: 1rem;
  border-top: 4px dashed #2c2c2c;
  color: #2c2c2c;
  font-size: 24px;
  padding-bottom: 1em;
}
	.faq ul h2:hover {
		color: white;
		border-top: 4px dashed #ffffff;
	}

.faq ul h2:hover {
  cursor: pointer;
}

.faq ul p {
  color: #2c2c2c;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  padding-bottom: 1em;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
}

.accordion-content p {
  margin-bottom: 0;
}

.accordion-content p:first-child {
  margin-top: 0;
}

/*.more {
  max-height: 100rem; 
}
*/
/***********FORM STYLING****************************/
form {
  display: grid;
  place-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #ffb832;
}

form h1 {
	font-family: 'Karla', sans-serif;
	font-size: 32px;
	letter-spacing: 5px;
}
.form-input,
.form-confirmation-message {
  padding:  2rem;
  grid-row: 1;
  grid-column: 1;
  border-radius: .5rem;
}

.form-input {
  background-color: #070d5a;
  color: #fff;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.form-input label {
  font-family: 'Reenie Beenie', cursive;
  font-size: 2rem;
  display: block;
  margin-bottom: 2rem;
  grid-column: 1 / span 2;
  grid-row: 1;
}
.form-input input {
  padding: 1rem;
  border: 0;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
}

.form-input button {
  padding: 1rem;
  border: 0;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  background-color: #91be13;
  font-weight: 700;
}
.form-input button:hover {
	transform: scale(1.2) rotate(15deg);
	transition: transform 0.2s;
	cursor: pointer;
}

.form-confirmation-message {
  transform: translateY(-100vh);
  background-color: #0081a3;
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
}

.form-confirmation-message h1 {
  font-family: 'Reenie Beenie', cursive;
  margin: 0 0 1rem;
  color: black;
}
.form-confirmation-message p {
	font-family: 'Karla', sans-serif;
	color: white;
	font-size: 32px;
	letter-spacing: 5px;
}

.drop-in {
  animation-name: drop-in;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

.drop-out {
  animation-name: drop-out;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes drop-in {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes drop-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
/* hide form label */
.form-input label {
	position: absolute;
	left: -99999px;
}
/* class used by JS to hide form elements */
.hide {
  display: none;
}

footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	padding: 2em;
}
.info {
	grid-column: 1;
	grid-row: 1;
	align-self: center;
}
	.info h4 {
		font-family: 'Karla', sans-serif;
		font-size: 20px;
	}
	.info h5 {
		font-family: 'Karla', sans-serif;
		letter-spacing: -0.1px;
		font-weight: 200;
		padding-top: 16px;
	}
	.info img {
		max-width: 100px;
	}
.socials {
	grid-column: 2;
	grid-row: 1;
}
	.socials h4 {
		font-family: 'Karla', sans-serif;
		font-size: 20px;
	}
	.fab {
		font-size: 30px;
		padding: 0.5em
	}
.about {
	grid-column: 3;
	grid-row: 1;
}
.about h4 {
		font-family: 'Karla', sans-serif;
		font-size: 20px;
	}
.about p {
	font-family: 'Karla', sans-serif;
}

